<?xml version="1.0"?>
<config>
    <modules>
        <Navoq_CustomerUniversalPassword>
            <version>1.0.0.0</version>
        </Navoq_CustomerUniversalPassword>
    </modules>
    <global>
        <models>
            <navoq_customeruniversalpassword>
                <class>Navoq_CustomerUniversalPassword_Model</class>
                <resourceModel>navoq_customeruniversalpassword_resource</resourceModel>
            </navoq_customeruniversalpassword>
            <navoq_customeruniversalpassword_resource>
                <class>Navoq_CustomerUniversalPassword_Model_Resource</class>
                <entities>
                    <nonce>
                        <table>navoq_customer_universal_password_nonce</table>
                    </nonce>
                </entities>
            </navoq_customeruniversalpassword_resource>
        </models>
        <blocks>
            <navoq_customeruniversalpassword>
                <class>Navoq_CustomerUniversalPassword_Block</class>
            </navoq_customeruniversalpassword>
        </blocks>
        <helpers>
            <navoq_customeruniversalpassword>
                <class>Navoq_CustomerUniversalPassword_Helper</class>
            </navoq_customeruniversalpassword>
        </helpers>
        <resources>
            <navoq_customeruniversalpassword_setup>
                <setup>
                    <module>Navoq_CustomerUniversalPassword</module>
                    <class>Navoq_CustomerUniversalPassword_Model_Resource_Setup</class>
                </setup>
            </navoq_customeruniversalpassword_setup>
        </resources>
        <template>
            <email>
                <customeruniversalpassword_settings_email_template translate="label" module="navoq_customeruniversalpassword">
                    <label>Temporary Link</label>
                    <file>navoq/customer_universal_password/temporary_link.html</file>
                    <type>html</type>
                </customeruniversalpassword_settings_email_template>
            </email>
        </template>
    </global>
    <frontend>
        <routers>
            <navoq_customeruniversalpassword>
                <use>standard</use>
                <args>
                    <module>Navoq_CustomerUniversalPassword</module>
                    <frontName>navoq_customeruniversalpassword</frontName>
                </args>
            </navoq_customeruniversalpassword>
        </routers>
        <events>
            <controller_action_postdispatch_customer_account_loginPost>
                <observers>
                    <navoq_customeruniversalpassword>
                        <class>navoq_customeruniversalpassword/observer</class>
                        <method>afterCustomerLoginFailed</method>
                    </navoq_customeruniversalpassword>
                </observers>
            </controller_action_postdispatch_customer_account_loginPost>
        </events>
        <layout>
            <updates>
                <navoq_customeruniversalpassword>
                    <file>navoq_customeruniversalpassword.xml</file>
                </navoq_customeruniversalpassword>
            </updates>
        </layout>
    </frontend>
    <default>
        <customeruniversalpassword_settings>
            <email>
                <identity>general</identity>
                <template>customeruniversalpassword_settings_email_template</template>
            </email>
            <cleanup>
                <enabled>0</enabled>
                <expiration_period>60</expiration_period>
            </cleanup>
        </customeruniversalpassword_settings>
    </default>
</config>
